@model Cine_NT1_Grupo2.Models.Tarjeta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Tarjeta</h1>

<h3>Seguro deseas eliminar esta tarjeta?</h3>
<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeVencimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeVencimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
