@model Cine_NT1_Grupo2.Models.Funcion

@{
    ViewData["Title"] = "Detalles de la funcion";
}

<h1>Detalles</h1>

<div>
    <h4>Funcion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala)
        </dd>
        @*Aca hice que se visualice por ejemplo el nombre en details, tambien modificando la consulta del controller*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Nombre)
        </dd>
                       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula.Calificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Calificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Genero)
        </dd>

        @{
            var imagenPath = Url.Content("~/imagenes/" + Model.Pelicula.Id + ".jpg");

        }


        <img src="@imagenPath" alt="@Model.Pelicula.Nombre" height="300">

    </dl>
</div>


@if (User.IsInRole(nameof(Rol.ADMIN)))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar funcion</a> |
        <a asp-action="Index">Volver</a>
    </div>

}
else
{
    <div>
        <a asp-action="Index">Volver</a>
    </div>
}


